/* $Id: uc_attribute.css,v 1.3 2007-10-02 17:43:43 rszrama Exp $ */

.options {
  display: inline;
}

#option_key td:first-child {
  width: 26%;
}

.combinations td:first-child, .combinations td:first-child + td {
  width: 12%;
}
