/* $Id: uc_attribute.css,v 1.2 2007-09-13 15:57:16 rszrama Exp $ */

.options {
  display: inline;
}

#option_key td:first-child {
  width: 26%;
}

.combinations td:first-child, .combinations td:first-child + td {
  width: 12%;
}
