/* $Id: uc_attribute.css,v 1.4.4.1 2008-11-07 21:13:22 islandusurper Exp $ */

.options {
  display: inline;
}

tr.draggable div.form-item {
  display: inline;
}

#option_key td:first-child {
  width: 26%;
}

.combinations td:first-child, .combinations td:first-child + td {
  width: 12%;
}
