/* $Id: ca.css,v 1.1.2.3 2008-11-07 21:13:20 islandusurper Exp $ */

.ca-predicate-table-title {
  width: 100%;
}

.ca-predicate-table-weight {
  text-align: center;
}

.ca-predicate-table-ops {
  white-space: nowrap;
}
