/* $Id: ca.css,v 1.1.2.2 2008-08-06 14:00:21 islandusurper Exp $ */

.ca-predicate-table-title {
  width: 100%;
}

.ca-predicate-table-weight {
  text-align: center;
}

.ca-predicate-table-ops {
  white-space: nowrap;
}
