/* $Id: uc_cart_block.css,v 1.7.2.4 2009-02-04 13:44:31 islandusurper Exp $ */

#block-cart-title-bar {
  cursor: pointer;
  white-space: nowrap;
}

#block-cart-title-arrow {
  padding-top: 5px;
  padding-right: 2px;
}

.cart-help-text {
  font-size: x-small;
  position: relative;
  top: -5px;
}

#block-cart-title-image {
  padding-right: 5px;
}
.block-cart-title-bar {
  white-space: nowrap;
}
.cart-block-toggle {
  cursor: pointer;
}
#block-cart-title-arrow {
  position: relative;
  top: -5px;
  right: -23px;
}
.cart-block-items {
  border-bottom: 2px;
  padding: 2px;
}
.cart-block-items tbody {
  border-top: 0px;
}
.cart-block-items tr {
  vertical-align: top;
}
.cart-block-item-title {
  width: 100%;
}
.cart-block-item-price {
  text-align: right;
  white-space: nowrap;
}
.cart-block-summary {
  padding: 2px;
}
.cart-block-summary tbody {
  border-top: 0px;
}
.cart-block-summary tr {
  vertical-align: top;
}
.cart-block-summary-items {
  white-space: nowrap;
}
.cart-block-summary-total {
  width: 100%;
  text-align: right;
}
.cart-block-summary-total-label {
  font-weight: bold;
}
.cart-block-summary-links {
  text-align: right;
}

#block-cart-contents ul.product-description {
  margin: 0pt;
  padding: 0pt 0pt 0.25em 1em;
}
#block-cart-contents .product-description li {
  margin: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  font-size: .8em;
}

