/* $Id: uc_file.css,v 1.2 2008-07-10 12:41:01 islandusurper Exp $ */

.duration  {
	display:inline;
} 

.duration .form-item {
	display:inline;
}

tr.group {
	border:0px;
}

.file-name {
	font-style: italic;
}