/* $Id: uc_file.css,v 1.2.2.4 2008-11-07 21:13:23 islandusurper Exp $ */

.duration  {
  display:inline;
}

.duration .form-item {
  display:inline;
}

tr.group {
  border:0px;
}

.file-name {
  font-style: italic;
}